@CHARSET "UTF-8";
p.important {
    color: #4990E2;
    margin-left: 93px;
}

.important {
    color: #65e04a;
}

#somesuch{
    color: #dd854b; 
} 

h1, h2, h3 {
    margin-left: 50px;
    margin-top: 50px;
}

a:link {
    text-decoration: none;
    color: #65e04a;
}

a:hover {
    text-decoration: underline;
}

a:hover {
    color: #376d2a;
}

p:first-letter {
    font-size: 3em;
}

article:before {
    content: '********';
}

p:first-of-type {
    margin-right: 200px;
}

li:first-child {
    font-style: italic;
}
